USE [master]
GO
/****** Object:  Database [JSP]    Script Date: 23-04-2018 00:05:12 ******/
CREATE DATABASE [JSP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JSP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\JSP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JSP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\JSP_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JSP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JSP]
GO
/****** Object:  Table [dbo].[Client_Details]    Script Date: 23-04-2018 00:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AY] [varchar](50) NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_Client_Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Client_Invoice]    Script Date: 23-04-2018 00:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client_Invoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Client_Id] [int] NULL,
	[InvoiceNumber] [varchar](max) NULL,
	[Client_DetailsId] [int] NOT NULL,
 CONSTRAINT [PK_Client_Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 23-04-2018 00:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[Address1] [varchar](max) NULL,
	[Address2] [varchar](max) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[PinCode] [varchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Mobile] [varchar](50) NULL,
	[ReturnTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company_Details]    Script Date: 23-04-2018 00:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[Address1] [varchar](max) NULL,
	[Address2] [varchar](max) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[PinCode] [varchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Mobile] [varchar](50) NULL,
 CONSTRAINT [PK_Company_Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 23-04-2018 00:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](150) NULL,
	[Password] [varchar](150) NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReturnTypes]    Script Date: 23-04-2018 00:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](10) NULL,
 CONSTRAINT [PK_ReturnTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([Id], [Username], [Password]) VALUES (1, N'Dhaval', N'123')
SET IDENTITY_INSERT [dbo].[Logins] OFF
SET IDENTITY_INSERT [dbo].[ReturnTypes] ON 

INSERT [dbo].[ReturnTypes] ([Id], [Type]) VALUES (1, N'IT        ')
INSERT [dbo].[ReturnTypes] ([Id], [Type]) VALUES (2, N'GST       ')
SET IDENTITY_INSERT [dbo].[ReturnTypes] OFF
/****** Object:  Index [IX_FK_ClientClient_Details]    Script Date: 23-04-2018 00:05:12 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ClientClient_Details] ON [dbo].[Client_Details]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Client_DetailsClient_Invoice]    Script Date: 23-04-2018 00:05:12 ******/
CREATE NONCLUSTERED INDEX [IX_FK_Client_DetailsClient_Invoice] ON [dbo].[Client_Invoice]
(
	[Client_DetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ReturnTypeClient]    Script Date: 23-04-2018 00:05:12 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ReturnTypeClient] ON [dbo].[Clients]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client_Details]  WITH CHECK ADD  CONSTRAINT [FK_ClientClient_Details] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Client_Details] CHECK CONSTRAINT [FK_ClientClient_Details]
GO
ALTER TABLE [dbo].[Client_Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Client_DetailsClient_Invoice] FOREIGN KEY([Client_DetailsId])
REFERENCES [dbo].[Client_Details] ([Id])
GO
ALTER TABLE [dbo].[Client_Invoice] CHECK CONSTRAINT [FK_Client_DetailsClient_Invoice]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_ReturnTypeClient] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[ReturnTypes] ([Id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_ReturnTypeClient]
GO
USE [master]
GO
